
/* هايي */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /* background-color: darkgrey; */
  background-color: #e4e4e4;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  /* box-shadow: inset 0 0 6px rgba(12, 169, 231, 0.9); */
  background-color: #8a857e;
  border-radius: 100px;
}

/* styles for Table */
.table {
    border-spacing: 0 10px;
  }
  i {
    font-size: 1rem !important;
  }

  .table tr {
    border-radius: 100px;
  }

  tr td:nth-child(n+7),
  tr th:nth-child(n+7) {
    border-radius: .625rem 0 0 .625rem;
  }

  tr td:nth-child(1),
  tr th:nth-child(1) {
    border-radius: 0 .625rem .625rem 0;
  }

  


/* End styles for table */








/* styles for inpout  */


  .-z-1 {
    z-index: -1;
  }

  .origin-0 {
    transform-origin: 0%;
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label,
  textarea:focus ~ label,
  textarea:not(:placeholder-shown) ~ label,
  select:focus ~ label,
  select:not([value='']):valid ~ label {
    /* @apply transform; scale-75; -translate-y-6; */
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-scale-x: 0.75;
    --tw-scale-y: 0.75;
    --tw-translate-y: -1.7rem;
  }

  input:focus ~ label,
  select:focus ~ label {
    /* @apply text-black; left-0; */
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
    left: 0px;
  }
  /* End styles for inpout */

  :root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;
  
    --light: #F9F9F9;
    --blue: #3C91E6;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
  }

  /* table style */
 
  
#content   .table-data {
	display: flex;
	flex-wrap: wrap;
  grid-gap: 24px;

	width: 100%;
	color: var(--dark);
}
#content   .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content   .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content   .table-data .head h3 {
	margin-left: auto;
	font-size: 24px;
	font-weight: 600;
}
#content   .table-data .head .bx {
	cursor: pointer;
}

#content   .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
#content   .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content   .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: right;
	border-bottom: 1px solid var(--grey);
}
#content   .table-data .order table td {
	padding: 10px 0;
}
#content   .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content   .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content   .table-data .order table tbody tr:hover {
	background: var(--grey);
  
}
#content   .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content   .table-data .order table tr td .status.completed {
	background: var(--blue);
}
#content   .table-data .order table tr td .status.process {
	background: var(--yellow);
}
#content   .table-data .order table tr td .status.pending {
	background: var(--orange);
}


#content   .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}
#content   .table-data .todo .todo-list {
	width: 100%;
}
#content   .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#content   .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
#content   .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--blue);
}
#content   .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid var(--orange);
}
#content   .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}
 /* END table style */